<ul class="site-nav list--inline" id="SiteNav">
    <li>
        <a href="#" id="shopLink" class="site-nav__link">
            <span class="site-nav__label">Shop</span>
        </a>
    </li>
    {% for link in linklists['main-menu'].links %}
    <li>
        <a href="{{ link.url }}" class="site-nav__link">
            <span class="site-nav__label">{{ link.title | escape }}</span>
        </a>
    </li>
    {% endfor %}
</ul>

<div id="site-nav-custom" class="site-nav-custom">
    <div class="container">
        <a href="/collections" class="site-nav-custom__link">
            <h5>Shop all products</h5>
        </a>

        <div class="collection-list">
            {% assign ignoredCollections = 'home page, specials' | split: ', ' %}
            {% assign menu = collections | sort: 'title' %}

            {% for collection in menu %}
                {% assign title = collection.title | downcase %}

                {% if ignoredCollections contains title %}

                {% else %}
                    <a class="collection-list-item" href="{{ collection.url }}">
                        <div class="collection-list-item__body">
                            <span class="collection-list-item__title">{{ collection.title }}</span>
                            {% if collection.image %}
                                <img src="{{ collection | img_url: '120x120' }}" alt="{{ collection.image.alt }}" class="collection-list-item__img"/>
                            {% else %}
                                <img src="{{ collection.products.first | img_url: '120x120' }}" alt="{{ collection.title | escape  }}" class="collection-list-item__img" />
                            {% endif %}
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div id="site-nav-custom--overlay"></div>
